html {
  text-size-adjust: 100%;
}

body {
  font: 16px / 1 sans-serif;
}
h6 {
  color: transparent;
  margin: 0px;
}
.navbar {
  background-color: #F5F5F5;
  display:flex;
  font-family: Helvetica, sans-serif;
}
.border {
  border-top-color: red;
  border-top-style: solid;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  align-content: space-between;
  padding-top: 30px;
  margin-left: 60px;
}
a:link {
  text-decoration: none;
  padding: 20px;
  color: black;
}
a:hover {
  color: red;
  background-color: #D3D3D3;
}
.search {
  align-content: space-between;
  height: 35px;
  width: auto;
  padding-left: 35em;
  padding-top: 15px;
}
.DESIGNCO {
  font-weight: bold;
}
.logo {
  height: 36px;
  width: auto;
}
header {
  text-align:center;
}
header h1 {
  font-size: 50px;
  padding-bottom: -1em;
}
header h2 {
  font-weight: lighter;
}
.landscape {
  width: 225px;
  height: auto;
  order: 1;
}
.portrait {
  height: 450px;
  width: auto;
}
.collage{
  display:flex;
  justify-content: center;
}
.column {
  padding: 2em;
  flex-direction:column;
  display: inline;
}
#right {
  display: block;
  width: 300px;

}
.whatsnew {
  color: red;
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
.recentproject:link {
  text-decoration: underline;
}
.textbox {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}
.invisible {
  color: transparent;
}
.box {
  flex: 1;
}
